/* Основные стили для страницы */
body {
    background-color: #000000;
    /* Устанавливает черный фон для страницы */
    font-family: 'Noto Sans KR', sans-serif;
    /* Устанавливает шрифт для текста на странице */
}

/* Стили для заголовков */
h1 {
    color: red;
    /* Устанавливает красный цвет текста для заголовков */
    font-size: 20px;
    /* Устанавливает размер шрифта для заголовков */
}

/* Стили для элементов персонажей */
.character {
    margin: 10px;
    /* Добавляет внешние отступы вокруг элемента */
    padding: 10px;
    /* Добавляет внутренние отступы внутри элемента */
    border: 1px solid #ccc;
    /* Добавляет светло-серую границу вокруг элемента */
    width: 200px;
    /* Задает фиксированную ширину элемента */
    height: 50px;
    /* Задает фиксированную высоту элемента */
    overflow: hidden;
    /* Скрывает содержимое, выходящее за пределы элемента */
}

/* Стили для зеленого состояния здоровья */
.green {
    background-color: green;
    /* Устанавливает зеленый фон */
    color: white;
    /* Устанавливает белый цвет текста */
}

/* Стили для желтого состояния здоровья */
.yellow {
    background-color: yellow;
    /* Устанавливает желтый фон */
    color: black;
    /* Устанавливает черный цвет текста */
}

/* Стили для красного состояния здоровья */
.red {
    background-color: red;
    /* Устанавливает красный фон */
    color: white;
    /* Устанавливает белый цвет текста */
}